@charset "utf=8";

/* --------------------GENERAL STYLES-------------------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font-family:inherit;
}

html {
    min-width: 100%;
}

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display:flex;
}

/* --------------------COLOR PALLETE-------------------- */

:root {
    --app-dark-bg: #090c0f;
    --app-purple: #be0604;
    --app-blue: #be0604;
    --app-blue-hover: #be0604;
   }

/* -------------------- FONT STYLES -------------------- */

h1 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform:uppercase;
    letter-spacing: 0.4px;
    line-height: 60px;
}

/* Hero Title */
h2 {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-bottom: 24px;
    color: #fff;
}

/* Section title */
h3 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-bottom: 24px;
    color: #fff;
}
/* Movie title */
h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-bottom: 24px;
    color: #fff;
}

p {
    font-size:16px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 30px;
    color: #fff;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

/* --------------------- HEADER----------------------- */

header {
    background-color:  var(--app-dark-bg);
    display: flex;
    height: 60px;
    overflow: hidden;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 60px; 
}

.logo-container img {
    width: 35px; 
}

header div {
    width: 40%;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #fff;
    background-color: var(--app-blue-hover);

}

nav ul li + li {
    margin-left: 20px;
}

/* ------------------HERO BANNER---------------------- */

.hero {
    position: relative;  
    height: calc(65vh - 60px - 60px);
    width: 100%;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.center {
    position: relative; 
    z-index: 2; 
    height: 100%;
    display: grid;
    place-items: center;  
}

.center div {
    text-align: center;
}

section {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


/* ------------------SEARCH FORM -----------------------*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 18px auto;
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}

input[type="search"] {
    padding: 0.5px; /* border */
    font-size: 16px;
    width: 100%;
    height: 50px;
    border: 1px solid transparent; 
    border-radius: 25px;
    outline: none;
    background-image: linear-gradient(rgb(26, 29, 40), rgb(26, 29, 40)), linear-gradient(to right, rgb(112, 36, 52), rgb(71, 104, 165));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(63, 7, 10, 0.4); 
    color: white; 
}

/* ------------ FEATURED MOVIES CONTAINER -------------- */

.featured-movies-container {
    display: none;
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: var(--app-dark-bg);
    padding: 60px 0;
}


/* ------------- SEARCH RESULT CONTAINER --------------- */

.movie-collection-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    background: var(--app-dark-bg);
    padding: 60px 0;
}


.suggestions-container {
    position: absolute;
    margin-top: 55px;
    width: 450px;
    max-height: 140px;
    overflow-y: auto;
    background-color: rgb(29, 29, 29);
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color:#fff;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: var(--app-purple);
  }
  
  .suggestion:last-child {
    border-bottom: none;
  }
  
  .movie-not-found {
    padding: 10px;
    text-align: center;
  }

/* ------------- LOAD ALL MOVIES STYLE --------------- */
.movies-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    width: 230px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-item img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* ------------- LOAD SEARCHED MOVIE STYLE --------------- */

.detail-movie-container {
    display: none; /* Initially hidden */
    flex-wrap: wrap;
}

.detail-movie-item {
    display: flex;
    align-items: flex-start; 
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-movie-item img {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
    margin-right: 20px; 
}

.detail-movie-item div {
    display: flex;
    flex-direction: column; 
    max-width: 70%;
}

.detail-movie-item h3 {
    margin: 0 0 10px 0; 
}

.detail-movie-item p {
    margin: 5px 0; 
}
